
.chatbox {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px !important;
    /* gap: 10px; */
    min-height: 80vh;
}

.userbox {
    width: 100% !important;
    height: auto;
    /* border: 1px solid grey; */
    border-radius: 4px;
    margin-bottom: 10px !important;
    min-height: 7vh;
}

.usrname {
    /* width: 100%; */
    font-size: large;
    /* margin: auto 0 !important; */
} 
.usermsg {
    /* border-right: 1px solid grey; */
    /* width: 100%; */
    /* margin: auto; */
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.093);
    padding: 10px;
}
