{% extends 'base.html' %}

{% block content %}
<div class="container u-full=width">
    <div class="row">
        <div class="left-nav">
            <h2 id="title"> Basic Chat Web App</h2>
        </div>
        <!-- <div class="right-nav"></div> -->
    </div>

</div>


<div class="container chatbox u-full-width" id="chatbox">
    <!-- Populate chat with messages -->
    <div class="container userbox row" id="usrbox">
        <div class="usrname two"><strong>Test User</strong></div>
        <div class="usermsg ten"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, aperiam.
        </div>
    </div>

    <!-- <div class="container userbox row ">
        <div class="usrname two"><strong>Test User</strong></div>
        <div class="usermsg ten"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, aperiam.
        </div>
    </div>
    <div class="container userbox row">
        <div class="usrname two"><strong>Test User</strong></div>
        <div class="usermsg ten"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, aperiam.
        </div>
    </div>
    <div class="container userbox row">
        <div class="usrname two"><strong>Test User</strong></div>
        <div class="usermsg ten"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, aperiam.
        </div>
    </div>
    <div class="container userbox row">
        <div class="usrname two"><strong>Test User</strong></div>
        <div class="usermsg ten"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum expedita, ipsa quos
            eum voluptates dolorem nulla similique!</div>
    </div>

    <div class="container userbox row">
        <div class="usrname two"><strong>Test User</strong></div>
        <div class="usermsg ten"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error ut
            cupiditate architecto eos nobis voluptatum maxime facere esse vitae eius natus tempora nulla quidem
            eligendi aspernatur ipsum itaque corporis magni quas dolores atque, autem vel eum. Rerum voluptatibus
            ipsa sequi repellat esse quaerat blanditiis facere, perspiciatis beatae omnis tempora.</div>
    </div>

    <div class="container userbox row">
        <div class="usrname two"><strong>Test User</strong></div>
        <div class="usermsg ten"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur dolorum
            debitis tempora quo enim in laudantium veritatis consectetur, tenetur quod! Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Debitis error ut cupiditate architecto eos nobis voluptatum maxime facere
            esse vitae eius natus tempora nulla quidem eligendi aspernatur ipsum itaque corporis magni quas dolores
            atque, autem vel eum. Rerum voluptatibus ipsa sequi repellat esse quaerat blanditiis facere,
            perspiciatis beatae omnis tempora.</div>
    </div>

    <div class="container userbox row">
        <div class="usrname two"><strong>Test User</strong></div>
        <div class="usermsg ten"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eveniet fugiat sequi
            itaque praesentium tenetur optio quam! Minus illo rem quibusdam odio nostrum itaque provident, eius
            eaque accusamus optio facilis sequi atque officiis veritatis nobis rerum perferendis? Corporis qui,
            culpa repudiandae assumenda sed corrupti minus dolores, eveniet excepturi commodi architecto repellendus
            eum dolor maxime, delectus quos placeat! Delectus quas molestias sit deleniti eaque veritatis, quo
            sapiente laudantium. Sequi accusamus eligendi, distinctio voluptatum ullam reprehenderit ipsam quaerat,
            mollitia at non tenetur qui. Officia, pariatur ipsam ab maiores cupiditate impedit dolore officiis
            laborum rem, voluptatum excepturi. Velit, nam, incidunt expedita maiores ullam officiis, in sequi eaque
            voluptate totam architecto! Tenetur ad nobis deleniti libero ab. Modi tempore quasi quis enim ullam
            maiores optio nam labore, temporibus reprehenderit ut provident explicabo quidem architecto dolore saepe
            delectus quaerat totam illo. Reiciendis itaque ex reprehenderit unde, placeat officia atque maxime ab?
            At sint libero eos ipsam dignissimos harum, minima eaque rerum dicta explicabo impedit aperiam,
            blanditiis ea beatae corrupti facilis animi. Odit atque velit veritatis perspiciatis laudantium natus,
            quasi officiis debitis quod quia sint sed iste? Atque, dolorum reiciendis ipsam rem, fuga harum
            necessitatibus nesciunt consequatur iste recusandae repellendus non obcaecati porro sapiente, quo cum.
        </div>
    </div> -->


    <hr />
    <form class="container u-full-width">
        <input type="text" class="ten columns" id="msg" placeholder="Enter message here...">
        <button class="two columns" id="send">Send</button>
        </form>


    {% endblock %}